@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@500;600&family=Manrope:wght@200;300;400&display=swap");

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 500;
  padding: 50px 0;
}

h4 {
  margin: 0;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

footer {
  padding: 25px 0;
}

.page {
  margin: 0 auto;
  padding: 25px 15%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.btn {
  border-radius: 10px;
  border: none;
  padding: 10px 35px;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  font-size: 20px;
}

.btn a {
  color: white;
}

.btn--blue {
  background-color: #2744ac;
  color: white;
  transition: background-color 1s ease-out 5ms;
}

.btn--blue:hover {
  background-color: #6580e0;
}

.btn--nextsteps {
  padding: 10px 150px;
}

.content {
  text-align: center;
  padding: 5% 0 0 0;
}

.steps {
  display: flex;
  align-items: center;
}

.steps-box {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.steps-number {
  background: #2744ac;
  font-family: "Poppins", sans-serif;
  border-radius: 55px;
  color: white;
  font-size: 28px;
  padding: 0px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-number p {
  margin: 0;
}

.steps-name {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

.steps-description {
  font-size: 1.9rem;
  text-align: left;
  margin-left: 50px;
}

.img-resume {
  width: 700px;
}

.bottom-section {
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
}

.btn-section {
  display: flex;
  justify-content: space-between;
}

.scan-job-description-page {
  padding: 50px 0;
}

.scan-job-description-form textarea {
  width: 80%;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 20px;
  margin: 30px 0;
}

.spinner {
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.results-data {
  padding: 50px 0 0 0;
}

.popup-content {
  border-radius: 5px;
  width: 75% !important;
}

.modal {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-header {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content textarea {
  width: 120%;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

.modal-close {
  text-align: right;
  width: 100%;
  padding: 0;
}

.btn--modal-close {
  border: none;
  background-color: white;
  font-size: 2rem;
}
@media screen and (max-width: 1440px) {
  h2 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .page {
    padding: 25px 5%;
  }
  .logo {
    width: 200px;
  }

  .btn {
    font-size: 22px;
  }

  .steps-box {
    height: 80px;
    margin: 80px 0;
  }

  .steps-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps-number {
    font-size: 1.4rem;
    width: 70px;
    height: 70px;
  }

  .steps-name {
    font-size: 1.1rem;
    width: 150px;
  }

  .steps-description {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  .img-resume {
    width: 425px;
  }

  .btn-section {
    flex-direction: row;
  }

  .btn--nextsteps {
    margin: 0 20px 20px 20px;
  }
}

/* Tablet View */
@media screen and (max-width: 992px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
    padding: 25px 0;
  }

  h5 {
    font-size: 1rem;
  }

  .page {
    padding: 25px 5%;
  }

  .logo {
    width: 170px;
  }

  .btn {
    font-size: 18px;
  }

  .steps {
    flex-direction: row;
  }

  .steps-box {
    height: 70px;
  }

  .steps-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps-number {
    font-size: 1.1rem;
    width: 50px;
    height: 50px;
  }

  .steps-name {
    font-size: 1rem;
    padding: 5px;
    width: 50px;
  }

  .steps-description {
    font-size: 1.2rem;
    margin-left: 30px;
  }

  .img-resume {
    width: 300px;
  }

  .bottom-section {
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
  }

  .btn-section {
    flex-direction: column;
  }

  .btn--nextsteps {
    margin-bottom: 20px;
  }
}

/* Mobile View */
@media screen and (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
    padding: 25px 0;
  }

  h5 {
    font-size: 1rem;
  }

  .page {
    padding: 25px 5%;
  }

  .logo {
    width: 100px;
  }

  .btn {
    font-size: 14px;
  }

  .btn--nextsteps {
    padding: 10px 25px;
  }

  .steps {
    flex-direction: column-reverse;
  }

  .steps-box {
    margin: 20px 0;
    height: 80px;
  }

  .steps-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps-number {
    font-size: 1rem;
    width: 40px;
    height: 40px;
  }

  .steps-name {
    font-size: 1rem;
    padding: 5px;
    width: 50px;
  }

  .steps-description {
    font-size: 1rem;
    margin-left: 30px;
  }

  .img-resume {
    width: 220px;
  }

  .bottom-section {
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
  }

  .btn-section {
    flex-direction: column;
  }

  .btn--nextsteps {
    margin-bottom: 20px;
  }
}
